<html>
<head>
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<title>My.arXiv: database query guide</title>
</head>
<body>

<h1>My.arXiv database query guide</h1>

<p>This document discusses the data stored in My.ArXiv's database, and ways of accessing them with JPQL and SQL queries, using the <a href="queryForm.jsp">JPQL and SQL query form</a>.

<h2>Data description</h2>

<p>The  <a href="queryForm.jsp">query form</a> allows you to send a free-form <a href="http://download.oracle.com/docs/cd/E11035_01/kodo41/full/html/ejb3_overview_query.html">JPQL</a> or SQL query to our database. 
</p>


<h2>JPQL vs. SQL</h2>

<p>JPQL can be thought as a sort of "object-oriented" wrapper over
SQL. As far as our application is concerned, the main difference
between the two is the following: when object of one type contains a
reference to an object of another type (e.g., a PhoneCall refers to
the Respondent being called), SQL "talks" in terms of the actual
stored table column (here, respondent_id), while JPQL "talks" in terms
of objects being references.<p>


<p>Hint: you can use the first 3 JPQL queries from the table below to see what the names of all fields in each table are.</p>

<p>
<table border=1>
<tr><th>JPQL <th>SQL <th>comments
<tr><th colspan=3>The <tt>arxiv_users</tt> table (<tt>User</tt> entries)</th></tr>
<tr><td colspan=3>Each <tt>User</tt> object describes one registered My.ArXiv user. The information about a user is stored in a row of the <tt>arxiv_users</tt> table. (Usually, the names of SQL tables are the same as those of OpenJPA objects, so that you can use the same name in SQL and JPQL queries. However, in this case, due to historical reasons, the two names are different.
</td></tr>
<tr><td>select x from User x <td> select x.* from arxiv_users x
<td>Show all User entries.

<tr><th colspan=3>The <tt>Action</tt> table (<tt>Action</tt> entries)</th></tr>
<tr><td colspan=3>Each <tt>Action</tt> entry contains information about one recordable user action. Each action is performed by a particular user, and has a particular ArXiv article as its object. Action types include adding an article to the user's folder (sort of a bookmark list), or removing it from the folder; viewing the article's abstract page or PDF page; explicitly rating an article as "new and useful", "useless", etc; marking the article as "not to be shown to me again"; etc. Each action contains the id of the PresentedList object (see below), which is understood as its contex.t

<br>For each action we record the "action source", which contains information about the "context" in which the action was effected.

</td></tr>
<tr><td>select x from Action x <td> select x.* from Action x
<tr><td> select x from Action x where x.user.id=1 
    <td> select x.* from Action x where x.user_id=1 
<td>Show all actions for a particular user (specified by the numeric user id)

<tr><td>select x from Action x where x.user.user_name='vmenkov' 
<td>select x.* from Action x, arxiv_users u where x.user_id=u.id and u.user_name='vmenkov' 
<td>Show all actions for a particular user (specified by the symbolic user id)

<tr>
<td>select x.user.id,  count(x) from Action x group by x.user.id
<td>
<td>Show the number of actions recorded for each user. (With only the numeric id being shown for each user).

<tr>
<td>select x.user.id, x.user.user_name, count(x) from Action x group by x.user.id, x.user.user_name 
<td>
<td>Show the number of actions recorded for each user. (With both the  numeric and symbolic id being shown for each user).


<tr>
<th colspan=3>The <tt>PresentedList</tt> table
<tr><td colspan=3>Each  <tt>PresentedList</tt> object corresponds to an actual screen shown to a user. Each individual article in the list is described as an entry in the <tt>PresentedListEntry</tt> table.
<tr>
<td>select x from PresentedList x 
<td>select x.* from PresentedList x 
<td>List all such lists.
<tr>
<td>
select li.id, d from PresentedList li join li.docs d where li.id=5 
<br><em>Also, there is alternative syntax:</em><br>
select li.id, foo  from PresentedList li, in(li.docs) foo where li.id=5
<td>select li.id, e.* from PresentedList li, PresentedList_PresentedListEntry r, PresentedListEntry e where r.PRESENTEDLIST_ID = li.id and r.DOCS_ID =e.id and li.id=5
<td>Show the content of presented list no. 5
<tr>
<td>
select li.id, count(d) from PresentedList li, in(li.docs) d group by li.id -
<td>
select li.id, (select count(*) from PresentedList_PresentedListEntry where PRESENTEDLIST_ID=li.id) from PresentedList li
<td>How many articles were in each presented list? (Only show list ID for each list)

<tr>
<td>
select li, count(d) from PresentedList li, in(li.docs) d group by li 
<td>
select li.*, (select count(*) from PresentedList_PresentedListEntry where PRESENTEDLIST_ID=li.id) from PresentedList li
<td>How many articles were in each presented list? (Also show list details for each list)

<tr>
<td>
<td>
select a.*, li.time, li.dataFileId, li.queryId from Action a, PresentedList li where a.presentedListId = li.id
<td>
Link user actions with presented lists. This shows for each user action (a) the context ("presented list") in which it was effected. This selection does <em>not</em> user actions that did not originate in the "suggestion list" or "search" constants, as those other context (e.g., FOLDER or FILTER) don't have "presented lists" as such.

<tr>
<th colspan=3>The <tt>EnteredQuery</tt> table
<tr>
<td>select x from Action x, User u where x.user=u and u.user_name='vmenkov'
<td>select x.* from Action x, arxiv_users u where x.user_id=u.id and u.user_name='vmenkov'
<tr><td> select x from EnteredQuery x
    <td> select x.* from EnteredQuery x
    <td> List of search queries entered by users



<tr>
<th colspan=3>Other tables
<tr>
<td>select x from ArticleStats x
<td>select x.* from ArticleStats x
<tr>
<td> -
<td>select m.failed, count(*) from Task m group by m.failed 

<tr>
<td>select x from Task x
<td>select x.* from Task x

<tr>
<td> -
<td> select x.thisFile, x.inputFile, y.inputFile from DataFile x, DataFile y where x.type='TJ_ALGO_1_SUGGESTIONS_1' and y.thisFile=x.inputFile

<tr>
<td>select x.type, x.thisFile, x.inputFile, y.type, y.inputFile from DataFile x, DataFile y where  y.thisFile=x.inputFile
<td>select x.type, x.thisFile, x.inputFile, y.type, y.inputFile from DataFile x, DataFile y where  y.thisFile=x.inputFile

<tr>
<td> -
<td> select le.DF_ID, le.rank, a.aid from ListEntry le, ArticleStats a where le.ASTAT_ID = a.id order by DF_ID, rank;
<td>Viewing suggestion list (as stored in the SQL database)

<tr>
<td>select a.user, count(a) from Action a group by a.user order by count(a) desc 
<td>select u.user_name, u.email, u.id, count(*) from Action a, arxiv_users u where a.USER_ID=u.id group by a.USER_ID  order by count(*) desc
<td>Measuring overall user activity

<tr>
<td>
<td>
select x.op, count(*), avg(TIME_TO_SEC(timediff(x.completeTime, x.startTime))) from Task x where not isnull(x.completeTime) group by x.op
<td>Showing the number of tasks of various type 


<!--
<tr><td>select x from Respondent x where x.id = 69 <td> select x.* from Respondent x where x.id = 69
<tr><td>select x from Respondent x where x.id in (69,70,71) <td> select x.* from Respondent x where x.id  in (69,70,71) 
<tr><td>select x from PhoneCall x<td>select x.* from PhoneCall x
<tr><td>select x from Response x<td>select x.* from Response x
<tr><td>select m from Respondent m  where m.id &lt; 20
<td>select m.* from Respondent m  where m.id &lt; 20

<tr><td>select m.id, m.lastName, c from Respondent m, PhoneCall c where m.id &lt; 10 and c.respondent = m 

<tr><td>select a from Response a, PhoneCall c, Respondent m where a.phoneCall = c and c.respondent = m and m.id = 13

<tr><td>select m.last_name, m.id, count(a) from Response a, PhoneCall c, Respondent m where a.phoneCall = c and c.respondent = m group by m   
<td> select  m.last_name, c.respondent_id, count(*) 
from Response a, PhoneCall c, Respondent m  
where a.phoneCall_id = c.id and c.respondent_id = m.id 
group by c.respondent_id
-->
</table>
</p>

<h2>Query form</h2>

<p>This form can be used to submit either JPQL or SQL query. Check the
language radio button under the query box apropriately.</p>

<form method=post action=QueryServlet>
<textarea name="<%=QueryServlet.QUERY%>" rows=20 cols=120>
select x from User x 
</textarea>

<p>
<table border=1>
<tr>
<td>Query language
<td>Format results as
<td>Disposition of results
</tr>
<tr>
<td><%= QueryServlet.mkLanguageSelector() %>
<td><%= QueryServlet.mkFormatSelector() %>
<td><%= QueryServlet.mkDownloadSelector() %>
</tr>
<tr><td colspan=3>
<%= QueryServlet.mkHeadBox() %>
<tr><td colspan=3>
Limit the number of displayed result rows to this number: <input name="<%= QueryServlet.MAX_RESULT %>" size=10>
</table>
</p>

<input type=submit value="SEND">

<input type=reset value="Clear form">

</form>


<icd:RU/>

<% } %>

</body>
</html>
